<p>
  <b><%= t("activerecord.attributes.order.name") %>:</b>
  <%= @order.name %>
</p>

<p>
  <b><%= t("activerecord.attributes.order.unit_id") %>:</b>
  <%= @order.unit.title %>
</p>

<p>
  <b><%= t("activerecord.attributes.order.company") %>:</b>
  <%= @order.company %>
</p>

<p>
  <b><%= t("activerecord.attributes.order.phone") %>:</b>
  <%= @order.phone %>
</p>

<p>
  <b><%= t("activerecord.attributes.order.email") %>:</b>
  <%= @order.email %>
</p>

<p>
  <b><%= t("activerecord.attributes.order.description") %>:</b>
  <%= @order.description %>
</p>