<!--<div id="sidebar_license">-->
<div id="sidebar">
  <div class="description about_title">
    <h1><%= @unit.super_unit.title %><%= link_to "", unit_by_short_url_path(@unit.super_unit.short_url), :class => "back" %></h1>

    <div class="top"></div>
    <div class="menu_wrapper">
      <ul class="menu_about">
        <li class="current no_border">
          <%= link_to raw("<span>#{@unit.title}</span>"), unit_by_short_url_path(@unit.short_url), :class => "red" %>
        </li>
      </ul>
      <div class="bottom"></div>
      <div class="text">
        <p>
          <%= raw @unit.content %>
        </p>
        <%= render "units/admin_panel", :target => @unit %>
      </div>
    </div>
  </div>
</div>