<%= form_for(@unit, :html => {:multipart => true}) do |f| %>
    <% if @unit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

          <ul>
            <% @unit.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <div class="half">
        <%= f.label :parent_id %>
        <br/>
        <%= f.collection_select(:parent_id, Unit.tree, :id, :title, :include_blank => "не выбрано") %>
      </div>

      <div class="half">
        <%= f.label :layout %>
        <br/>
        <%= f.collection_select :layout, Layout.collection, :cut, :name, :promt => false %>
      </div>

      <div class="half">
        <%= f.label :locale %>
        <br/>
        <%= f.collection_select(:locale, Language.collection, :cut, :name, {:prompt => false, :selected => I18n.locale}) %>
      </div>

      <div class="half">
        <%= f.label :welcome_slider %>
        <br/>
        <%= f.check_box :welcome_slider %>
      </div>
    </div>

    <div class="field">
      <%= f.label :title %>
      <br/>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description, :class => "description" %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <br/>
      <%= f.text_area :content %>
    </div>
    <div class="field">
      <%= f.label :unit_order %>
      <br/>
      <%= f.number_field :unit_order %>
    </div>
    <div class="field">
      <%= f.label :short_url %>
      <br/>
      <%= f.text_field :short_url %>
    </div>
    <div class="field">
      <%= f.label :seo_title %>
      <br/>
      <%= f.text_field :seo_title %>
    </div>
    <div class="field">
      <%= f.label :seo_keywords %>
      <br/>
      <%= f.text_field :seo_keywords %>
    </div>
    <div class="field">
      <%= f.label :seo_description %>
      <br/>
      <%= f.text_field :seo_description %>
    </div>

    <div class="field">
      <%= render :partial => 'unit_images/files_upload', :locals => {:unit => @unit} %>
    </div>

    <div class="clear"></div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<script language="javascript">
    $(document).ready(function () {
        $("#unit_content").markItUp(mySettings);
    });

    function updateStuffImage(stuff_image_id, classname) {
        title = $("#" + classname + "_image_" + stuff_image_id + " input[type='text']").val();
        cover = $("#" + classname + "_image_" + stuff_image_id + " .upload_cover").is(':checked');
        preview = $("#" + classname + "_image_" + stuff_image_id + " .upload_preview").is(':checked');
        if (title == '') {
            title = 'empty'
        }
        $.get("/" + classname + "_images/update/" + stuff_image_id + "/" + cover + "/" + preview + "/" + title);
    }
</script>