<div id="sidebar">
  <div class="description portfolio_title">
    <h1><%= link_to @unit.super_unit.title, unit_by_short_url_path(@unit.super_unit.short_url) %><%= link_to "", unit_by_short_url_path(@unit.super_unit.short_url), :class => "back back_3" %></h1>
    <div class="top"></div>
    <div class="menu_wrapper">
      <ul class="menu_about">
        <li class="current">
          <%= link_to raw("<span>#{@unit.title}</span>"), unit_by_short_url_path(@unit.short_url), :class => "portfolio" %>
          <div class="news_list">
            <div class="border_right">
              <% @unit.unit_images.each do |unit_image| %>
                  <%= image_tag unit_image.image.url(:preview_item), :width => 213, :height => 81, :onclick => "setBackgroundImage('#{unit_image.image(:preview_item)}')"  %>
              <% end %>
              <span><%= @unit.created_at.strftime("%d.%m.%Y") %></span>
              <p><%= raw @unit.description %></p>
              <p><%= raw @unit.content %></p>
              <%= render "units/admin_panel", :target => @unit %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>