<div id="sidebar" style="width: 100%">
  <ul>

    <li>
      <%= link_to "+Создать", new_unit_path %>
    </li>

    <% @units.each do |unit| %>
        <li>
          <%= link_to '+Изменить', edit_unit_path(unit) %> :: <%= link_to '-Удалить', unit, confirm: 'Вы уверены?', method: :delete %>
          <strong>
            <%= unit.title %> :: <%= unit.layout %> :: <%= unit.short_url %>
          </strong>

          <p>
            <%= unit.description %>
          </p>
        </li>
    <% end %>
  </ul>
</div>