<div id="sidebar" style="width: 100%">
  <ul class="units_all">

    <li>
      <%= link_to "+Создать", new_unit_path %>
    </li>

    <% @units.each do |unit| %>
        <li>
          <strong>
            <%= unit.title %>
          </strong>
          [<%= Layout.by_cut(unit.layout) %>, <%= unit.short_url %>]

          <%= link_to '+Изменить', edit_unit_path(unit) %> :: <%= link_to '-Удалить', unit, confirm: 'Вы уверены?', method: :delete %>
        </li>
    <% end %>
  </ul>
</div>