<h1>Listing units</h1>

<table>
  <tr>
    <th>Locale</th>
    <th>Title</th>
    <th>Parent</th>
    <th>Description</th>
    <th>Content</th>
    <th>Layout</th>
    <th>Short url</th>
    <th>Seo title</th>
    <th>Seo keywords</th>
    <th>Seo description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.locale %></td>
    <td><%= unit.title %></td>
    <td><%= unit.parent_id %></td>
    <td><%= unit.description %></td>
    <td><%= unit.content %></td>
    <td><%= unit.layout %></td>
    <td><%= unit.short_url %></td>
    <td><%= unit.seo_title %></td>
    <td><%= unit.seo_keywords %></td>
    <td><%= unit.seo_description %></td>
    <td><%= link_to 'Show', unit %></td>
    <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
    <td><%= link_to 'Destroy', unit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit', new_unit_path %>
