<%= render "units/order_side_bar" %>

<% unless @unit == @unit.super_unit %>
    <div class="poap">
      <%= form_for(@order, :remote => true) do |f| %>
          <%= f.hidden_field:unit_id, :value => @unit.id %>

          <%= f.label :name %>
          <%= f.text_field :name, :class => "input" %>

          <%= f.label :company %>
          <%= f.text_field :company, :class => "input" %>

          <%= f.label :phone %>
          <%= f.text_field :phone, :class => "input" %>

          <%= f.label :email %>
          <%= f.text_field :email, :class => "input" %>

          <%= f.label :description %>
          <%= f.text_area :description, :class => "textarea" %>

          <%= f.submit t("helpers.submit.post"), :class => "button" %>
      <% end %>
    </div>
<% end %>