<div id="sidebar" class="edit_form order">
  <%= form_for(@order, :remote => true) do |f| %>

      <div class="order-description">
          <%= raw t("activerecord.attributes.order.preview") %>
      </div>

      <div>
        <%= f.label :unit_id %>
        <%= f.collection_select :unit_id, @unit.super_unit.units, :id, :title %>
        <div class="clear"></div>
      </div>

      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :company %>
        <%= f.text_field :company %>
      </div>

      <div>
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </div>

      <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>

      <div>
        <%= f.submit t("helpers.submit.post"), :class => "button" %>
      </div>
  <% end %>
</div>