<h1>Listing locations</h1>

<table>
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Gmaps</th>
    <th>Country</th>
    <th>City</th>
    <th>Building</th>
    <th>More</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
    <td><%= location.gmaps %></td>
    <td><%= location.country %></td>
    <td><%= location.city %></td>
    <td><%= location.building %></td>
    <td><%= location.more %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
