<div id="footer">
  <ul>
    <% @main_menu.each_with_index do |unit, i| %>
        <li <%= "class='current'" if @unit && unit === @unit.super_unit %>><%= link_to raw("<span>#{unit.title}</span>"), unit_by_short_url_path(unit.short_url), :class => ( i == 0 ? "menu" : "menu_#{i}") %></li>
    <% end %>
  </ul>
  <p><%= t("activerecord.attributes.welcome.copyright") %></p>

  <div class="social">
    <p><%= t("activerecord.attributes.welcome.follow") %></p>
    <%= link_to image_tag("linkedin.png", :alt => @welcome.seo_title || @welcome.title), "linkedin.com", :target => "_blank" %>
    <%= link_to image_tag("face.png", :alt => @welcome.seo_title || @welcome.title), "vk.com", :target => "_blank" %>
    <%= link_to image_tag("vk.png", :alt => @welcome.seo_title || @welcome.title), "vk.com", :target => "_blank" %>
    <%= link_to image_tag("tw.png", :alt => @welcome.seo_title || @welcome.title), "vk.com", :target => "_blank" %>
  </div>
</div>