<div id="footer">
  <ul>
    <% @main_menu.each_with_index do |unit, i| %>
        <li <%= "class='current'" if @unit && unit == @unit %>><%= link_to raw("<span>#{unit.title}</span>"), unit_by_short_url_path(unit.short_url), :class => ("menu_#{i}" unless i == 0) %></li>
    <% end %>
  </ul>
  <p><%= t("activerecord.attributes.welcome.copyright   ") %></p>
  <div class="social">
    <p><%= t("activerecord.attributes.welcome.follow") %></p>
    <%= link_to image_tag("vk.png", :alt => @welcome.seo_title || @welcome.title), "vk.com" %>
    <%= link_to image_tag("face.png", :alt => @welcome.seo_title || @welcome.title), "vk.com" %>
    <%= link_to image_tag("tw.png", :alt => @welcome.seo_title || @welcome.title), "vk.com" %>
  </div>
</div><!--end footer-->
