<ul class="cb-slideshow">
  <% delay = 13 %>

  <% @covers.each do |cover| %>
      <li>
            <span>
              <%= "#{cover.unit.title} #{cover.title}" %>
            </span>

        <div class="sl-descr<%= " info_#{@unit.super_unit.layout}" unless @unit.nil? %>">
          <%= link_to t("activerecord.attributes.unit.more"), unit_by_short_url_path(cover.unit.short_url), :class => "more" %>
          <div class="title_info">
            <%= "#{cover.unit.title} #{cover.title}" %>
          </div>
        </div>
      </li>
  <% end unless @covers.nil? %>
</ul>

<% unless @covers.nil? %>

<style type="text/css">
    .cb-slideshow li span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        color: transparent;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: none;
        opacity: 0;
        z-index: 0;
        -webkit-backface-visibility: hidden;
        -webkit-animation: imageAnimation <%= @covers.count*delay %>s linear infinite 0s;
        -moz-animation: imageAnimation <%= @covers.count*delay %>s linear infinite 0s;
        -o-animation: imageAnimation <%= @covers.count*delay %>s linear infinite 0s;
        -ms-animation: imageAnimation <%= @covers.count*delay %>s linear infinite 0s;
        animation: imageAnimation <%= @covers.count*delay %>s linear infinite 0s;
    }

    .cb-slideshow li .sl-descr {
        z-index: 1000;
        position: absolute;
        bottom: 21%;
        right: 0;
        text-align: right;
        opacity: 0;
        -webkit-animation: titleAnimation <%= @covers.count*delay %>s linear infinite 0s;
        -moz-animation: titleAnimation <%= @covers.count*delay %>s linear infinite 0s;
        -o-animation: titleAnimation <%= @covers.count*delay %>s linear infinite 0s;
        -ms-animation: titleAnimation <%= @covers.count*delay %>s linear infinite 0s;
        animation: titleAnimation <%= @covers.count*delay %>s linear infinite 0s;
    }

    <% @covers.each_with_index do |cover, i| %>
    .cb-slideshow li:nth-child(<%= i+1 %>) span {
        background-image: url(<%= cover.image.url(:big)%>);
    <% if i > 0 %> -webkit-animation-delay: <%= (i)*delay %>s;
        -moz-animation-delay: <%= (i)*delay %>s;
        -o-animation-delay: <%= (i)*delay %>s;
        -ms-animation-delay: <%= (i)*delay %>s;
        animation-delay: <%= (i)*delay %>s;
    <% end %>
    }

    <% end %>
    <% @covers.each_with_index do |cover, i| %>
    <% if i > 0 %>
    .cb-slideshow li:nth-child(<%= i+1 %>) .sl-descr {
        -webkit-animation-delay: <%= (i)*delay %>s;
        -moz-animation-delay: <%= (i)*delay %>s;
        -o-animation-delay: <%= (i)*delay %>s;
        -ms-animation-delay: <%= (i)*delay %>s;
        animation-delay: <%= (i)*delay %>s;
    }

    <% end %>
    <% end %>
</style>
<% end %>