<ul class="cb-slideshow">
  <% @top.each do |unit| %>
      <% unit.get_covers.each do |cover| %>
          <li>
            <span>
              <%= "#{unit.title} #{cover.title}" %>
            </span>

            <div>
              <h3>
                <%= "#{unit.title} #{cover.title}" %>
                <%# link_to cover.title || unit.title, unit_by_short_url_path(unit.short_url) %>
              </h3>
            </div>
          </li>
      <% end %>
  <% end %>
</ul>

<style type="text/css">
    <% i = 1 %>
    <% @top.each do |unit| %>
    <% unit.get_covers.each do |cover| %>
    .cb-slideshow li:nth-child(<%= i %>) span {
        background-image: url(<%= cover.image.url(:big)%>);
    <% if i > 1 %> -webkit-animation-delay: <%= (i-1)*6 %>s;
        -moz-animation-delay: <%= (i-1)*6 %>s;
        -o-animation-delay: <%= (i-1)*6 %>s;
        -ms-animation-delay: <%= (i-1)*6 %>s;
        animation-delay: <%= (i-1)*6 %>s;
    <% end %>
    }
    <% i += 1 %>
    <% end %>
    <% end %>
    <% i = 1 %>
    <% @top.each do |unit| %>
    <% unit.get_covers.each do |cover| %>
    <% if i > 1 %>
    .cb-slideshow li:nth-child(<%= i %>) div {
        -webkit-animation-delay: <%= (i-1)*6 %>s;
        -moz-animation-delay: <%= (i-1)*6 %>s;
        -o-animation-delay: <%= (i-1)*6 %>s;
        -ms-animation-delay: <%= (i-1)*6 %>s;
        animation-delay: <%= (i-1)*6 %>s;

    }
    <% end %>
    <% i += 1 %>
    <% end %>
    <% end %>
</style>